/* .small-project img {
  max-width: 40vw;
  max-height: 40vw;
} */
/* .sp-img {
  background-color: grey;
  border: 2px solid black;
} */
.sp-img img {
  width: 20vw;
  height: 20vw;
  object-fit: contain;
}
.small-project {
  display: flex;
  flex-direction: column;
  width: 20vw;
  text-align: center;
}
.displayed-projects {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.sp-tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sp-tech img {
  height: 5vh;
  margin: 1vh 2vh;
}
