html {
  background-image: url('https://c0.wallpaperflare.com/preview/733/889/238/minimal-wallpaper-light-blue-clean-wallpaper-water.jpg');
  background-size: cover;
}
.sp-img img {
  width: 20vw;
  height: 20vw;
  object-fit: contain;
}
.small-project {
  display: flex;
  flex-direction: column;
  width: 20vw;
  text-align: center;
}
.displayed-projects {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}
.sp-tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sp-tech img {
  height: 3vh;
  margin: 1vh 2vh;
}
.sp-tech img:hover,
.socials img:hover {
  transform: scale(1.3);
}
.avery {
  display: flex;
  margin-left: -20vw;
  justify-content: center;
}
.avery img {
  width: 20vw;
  border: 2px solid black;
  border-radius: 50%;
}

.a-img-text {
  display: flex;
  text-align: center;
  align-items: center;
}
.socials img {
  border: none;
  border-radius: 0;
  width: 2vw;
}

.socials {
  display: flex;
  justify-content: space-evenly;
}
.a-text h1 {
  font-size: 50px;
  margin: 0;
}
.a-text h2 {
  font-style: italic;
  margin: 6vh 0;
}
.a-text {
  margin-left: 3vw;
}

.top-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 1vh 2vw;
}
.nav-right {
  display: flex;
  width: 15vw;
  justify-content: space-between;
}
